.godot/**
.godot/editor/filesystem_cache10
/.godot
/.godot/editor
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache10
.godot/editor/project_metadata.cfg
.godot/editor/recent_dirs
.godot/editor/script_editor_cache.cfg
.godot/editor/test.tscn-editstate-f0a4ea32b72b64218d23e48a955cbc61.cfg
.godot/uid_cache.bin
